{{> head }}

    {{> navbar }}
  
  <div class="row">
      <div class="col-8">
          <h1>Terminal Maus</h1>
          <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia deleniti voluptatem, fugiat adipisci blanditiis provident repellendus nam fugit facere. Tempore reprehenderit autem soluta saepe ratione officia praesentium enim facilis dolorum!
              
          </p>
      </div>
      <div class="col-4">
          <img src="assets/imgs/logo.png" class="img-thumbnail">
      </div>
  </div>

{{> footer }}
  